.u-section-1 .u-sheet-1 {
  min-height: 1128px;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat, sans-serif;
  font-size: 6rem;
  text-align: start;
  margin: 19px auto 0 379px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: 20px 352px 0;
}

.u-section-1 .u-shape-1 {
  width: 273px;
  height: 14px;
  text-align: start;
  margin: -20px 78px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 273px;
  height: 14px;
  text-align: start;
  margin: -13px auto 0 52px;
}

.u-section-1 .u-list-1 {
  width: 1127px;
  grid-template-rows: auto auto auto;
  text-align: start;
  margin: 92px auto 57px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  min-height: 814px;
  grid-gap: 12px 12px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/website-design.png");
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 279px;
  min-height: 270px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/gd.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.submit {
  text-align: center;
  color: #f1c50e;
  padding-bottom: 4em;
}
.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

/*new additions*/
.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #f1c50e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: aliceblue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: #f1c50e;
}


.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #888;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/*form ends*/



.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/flutter2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/python.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/productivitytools.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/appdev.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 252px;
    margin-right: 252px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    height: auto;
    min-height: 679px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 679px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 142px;
    margin-right: 142px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 113px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 67px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  text-align: start;
  margin: 63px 374px 0 424px;
}

.u-section-2 .u-list-1 {
  width: 1128px;
  grid-template-rows: auto auto auto;
  text-align: start;
  height: auto;
  min-height: 260px;
  margin: 53px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8px) calc(33.3333% - 8px) calc(33.3333% - 8px);
  min-height: 260px;
  grid-gap: 12px 12px;
  grid-auto-columns: calc(33.3333% - 8px);
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/uxui.png");
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/digital.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/ML.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/ds.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/spss.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-group-5 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/statadata.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-group-6 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 14px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 274px;
    margin-left: 324px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8px));
    grid-auto-columns: calc(33.333333333333336% - 8px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 164px;
    margin-left: 214px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    grid-auto-columns: calc(50% - 6px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 74px;
    margin-left: 124px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}





label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  margin-top: 20px;
  background-color: #002244;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #004080;
}


h2 {
  text-align: center;
  color: #003366;
}

.carousel-container {
  overflow-x: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
  scroll-snap-type: x mandatory;
  background-color: #f1c50e;
}

.course-card {
  flex: 0 0 250px;
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
  border-radius: 10px;
  scroll-snap-align: start;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.course-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.course-info h3 {
  margin: 0;
  font-size: 16px;
}

.course-info p {
  margin: 5px 0;
  font-size: 14px;
}

.enroll {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.enroll input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.enroll label {
  background: gold;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}